.body{
    background-image: url("slashes.png");

}
.body2{
    background-image: url("slashes2.png");
    
}
h1{
    color:white;

}
h2{
    color:white;
}
p{
    color:whitesmoke;

}
div{
    color:whitesmoke;

}
.button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
